<div class="row placeholders">

    <div class="col-md-4 col-lg-4">
        <div class="tiles-wrap">
            <div class="outer-area">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <h3>SC Cases <span>by Status</span></h3>
            </div>
            <div class="button-area">
                <button type="button" class="btn btn-primary btn-lg" (click)="linkClick('/home/sc-caseByStatus')"  routerLink="/home/sc-caseByStatus" routerLinkActive="active">View</button>
            </div>

        </div>

    </div>
    <div class="col-md-4 col-lg-4">
        <div class="tiles-wrap">
            <div class="outer-area">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <h3>SC New <span>Cases</span></h3>
            </div>
            <div class="button-area">
                <button type="button" class="btn btn-primary btn-lg" (click)="linkClick('/home/sc-new-cases')" routerLink="/home/sc-new-cases" routerLinkActive="active">View</button>
            </div>

        </div>

    </div>

    <div class="col-md-4 col-lg-4">
        <div class="tiles-wrap">
            <div class="outer-area">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <h3>Cycle Times <span>Contracts</span></h3>
            </div>
            <div class="button-area">
                <button type="button" class="btn btn-primary btn-lg" (click)="linkClick('/home/ebs-cycle-times')" routerLink="/home/ebs-cycle-times" routerLinkActive="active">View</button>
            </div>

        </div>

    </div>
    <div class="row-placeholders">
        <div class="col-md-4 col-lg-4">
            <div class="tiles-wrap">
                <div class="outer-area">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <h3>Cycle Times <span>Cases</span></h3>
                </div>
                <div class="button-area">
                    <button type="button" class="btn btn-primary btn-lg" (click)="linkClick('/home/smartclient-average-renewal')" routerLink="/home/smartclient-average-renewal" routerLinkActive="active">View</button>
                </div>

            </div>

        </div>


    </div>
    <div class="row-placeholders">
        <div class="col-md-4 col-lg-4">
            <div class="tiles-wrap">
                <div class="outer-area">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <h3>EBS  Contracts <span>by Status</span></h3>
                </div>
                <div class="button-area">
                    <button type="button" class="btn btn-primary btn-lg" (click)="linkClick('/home/ebs-contractByStatus')" routerLink="/home/ebs-contractByStatus" routerLinkActive="active">View</button>
                </div>

            </div>

        </div>


    </div>
</div>