.page-sidebar.navbar-collapse {

    min-height: 100% !important;
    max-height: 100% !important;
    
}
.title-blue{
    color:#4A90E2;
}
.title-black{
   color: #4A4A4A;
}
/* :host /deep/ .slimScrollDiv{
    height: 70rem !important;
    max-height: 80rem !important;
} */
.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
}
.sub-menu .title{
  font-size: 14px;
  font-family: Arial;
  /* font-weight: bold; */
}
.active span{
  color:#4A90E2;
}
.page-sidebar-menu .sub-menu > li:hover > a{
    background-color: unset !important;
}
@media(min-width:992px) and (max-width:992px){
  
    .page-sidebar-fixed .page-sidebar {
        /* margin-left: -19px !important; */
        top: 74px !important;
    }
}

