.page-header.navbar {
    background: white;
    border-bottom: 1px solid #e9ecf3;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: white;
}

.app-logo-expand{
    width: 135px;
    height: 74px;
    margin-top: 0px;
}
.app-logo-shrink{
    width: 0px;
    height: 0px;
    margin-top: 0px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > .username {
    margin-right: 12px !important;
    font-size: 16px !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname, .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username, .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #484E51 !important;
}