<button id="openSCModal1" #openSCModal [hidden]="true" data-toggle="modal" data-target="#smartClientARModal">Open
    Modal</button>
<div class="chart-div col-md-offset-2">
  <google-chart #cchartnew [data]="barChartData" (chartSelect)='selectBar($event)'></google-chart>
</div>
<div class="show-msg"  *ngIf="this.checkDataSC">
  <h3>No Data Available</h3>
</div>
<!-- modal -->
<div id="smartClientARModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-lg-6">
          <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Back</button>
          <span class="fontCss pull-right"><b >Status - {{data}} </b></span>

        </div>
        <div class="col-lg-6">
          <span class="fontCss pull-left"><b>{{newModelCounts}} </b></span>
          <button class="pull-right btn btn-sucess btn-sm" title="Export To Excel" type="button" (click)="exportToExcel()"><i class="fas fa-file-export "></i></button>
        </div>

      </div>
      <div class="modal-body" style="padding:4px;">
        <table class="table  table-hover fixedHeadTable table-striped">
          <thead>
            <tr>
              <th>Customer </th>
              <th>Case Number</th>
              <th>Case Status</th>
              <th>Case Owner</th>
              <th>Case Open Date</th>
              <th>NSS Aging</th>
              <th>Case start date</th>
            </tr>
          </thead>
          <!-- outer for each  -->
          <tbody class="SCModlTbody" style="height: auto !important;min-height:52vh;">
            <tr *ngFor="let drilldown of this.drillDown" >
              <td>{{drilldown.customer==null?'-':drilldown.customer}}</td>
              <td>{{drilldown.case_number}}</td>
              <td>{{drilldown.to_status}}</td>
              <td>{{drilldown.case_owner==null?'_':drilldown.case_owner}}</td>
              <td>{{drilldown.sts_changed_on}}</td>
              <td>{{drilldown.nss_aging==null?'_':drilldown.nss_aging}}</td>
              <td>{{drilldown.case_creation_date}}</td>
            </tr>
                
          </tbody>
          <!-- outer for each  -->
        </table>
      </div>
    </div>
  </div>
</div>