<div class="chart-div col-md-offset-2">
    <button id="openSCModal" #openSCModal [hidden]="true" data-toggle="modal" data-target="#smartClientModal">Open Modal</button>
        <google-chart #cchart [data]="ebscolumnChartData" (chartSelect)='selectBar($event)'></google-chart>
</div>
<div class="show-msg"  *ngIf="this.checkDataEBS">
  <h3>No Data Available</h3>
</div>
<!-- modal -->
<div id="smartClientModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-6">
            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Back</button>
            <span class="fontCss pull-right"><b >Status - {{data}} </b></span>

          </div>
          <div class="col-lg-6">
            <span class="fontCss pull-left"><b>Number Of Contracts - {{newModelCounts}} </b></span>
            <button class="pull-right btn btn-sucess btn-sm" title="Export To Excel" type="button" (click)="exportToExcel()"><i class="fas fa-file-export "></i></button>

          </div>
                 
        </div>
        <div class="modal-body" style="padding:4px;">
          <table class="table  table-hover fixedHeadTable table-striped">
            <thead>
              <tr>
                <th>Customer </th>
                <th>Contract Number</th>
                <th>Contract Number Modifier</th>
                <th>Contract Status</th>
                <th>Contract Owner</th>
                
                <th>Contract Start Date</th>
              </tr>
            </thead>
            <!-- outer for each  -->
            <tbody class="SCModlTbody" style="height: auto !important;min-height:52vh;">
              <tr *ngFor="let drilldown of this.drillDown" >
                <td>{{drilldown.customer_name==null?'-':drilldown.customer_name}}</td>
                <td>{{drilldown.contract_number}}</td>
                <td>{{drilldown.contract_number_modifier}}</td>
                <td>{{drilldown.to_status}}</td>
                <td>{{drilldown.contract_owner==null?'-':drilldown.contract_owner}}</td>
                <td>{{drilldown.contract_creation_date}}</td>
               
              </tr>
              
            </tbody>
            <!-- outer for each  -->
          </table>
        </div>
      </div>
    </div>
  </div>