/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FFFF !important;
}
.chart-div{
    min-height: 100px;
    overflow: hidden;
}
tbody {
    display:block;
    height:100px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:100%;
}