/* .page-header-fixed .page-container {
    margin-top: 55px !important;
}
.page-container{ 
    padding: 20px 2px 0 !important; 
    ;

} */


.page-content-wrapper .page-content {
    margin-left: 184px !important;
    /* margin-top: -29px !important; */

}