<div class="chart-div col-md-offset-2">
  <button id="openSCModal" #openSCModal [hidden]="true" data-toggle="modal" data-target="#smartClientModal">Open Modal</button>
      <google-chart #cchart [data]="columnChart" (chartSelect)='selectBar($event)' (chartReady)='ready($event)'></google-chart>
</div>
<div class="show-msg"  *ngIf="this.checkDataSCNC">
  <h3>No Data Available</h3>
</div>
<!-- modal -->
<div id="smartClientModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-lg-6">
          <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Back</button>
          <span class="fontCss pull-right"><b >Status - {{data}} </b></span>

        </div>
        <div class="col-lg-6">
          <span class="fontCss pull-left"><b>Contracts Number - {{newModelCounts}} </b></span>
          <button class="pull-right btn btn-sucess btn-sm" title="Export To Excel" type="button" (click)="NSSAging()"><i class="fas fa-file-export "></i></button>

        </div>
               
      </div>
      <div class="modal-body" style="padding:4px;">
        <table class="table  table-hover fixedHeadTable table-striped">
          <thead>
            <tr>
              <th>Customer </th>
              <th>Status</th>
              <th>Owner</th>
              <th>Open Date</th>
              <th>NSS Aging</th>
              <th>Contract start date </th>
            </tr>
          </thead>
          <!-- outer for each  -->
          <tbody class="SCModlTbody" style="height: auto !important;min-height:52vh;">
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>05/03/2019</td>
              <td> </td>
              <td>05/03/2019</td>
            </tr>
          </tbody>
          <!-- outer for each  -->
        </table>
      </div>
    </div>
  </div>
</div>